@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Passion+One:wght@400;700;900&display=swap');
.containerNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1600px;
    margin: 10px auto;
}
.containerNavDark {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1600px;
    margin: 10px auto;
    background-color:#000;
    color:#fff;
}
.containerNav ul,.containerNavDark ul {
    display: flex;
    justify-content: center;
    gap:20px;
}
li {
    list-style: none;
}
.containerNav ul li a,.containerNavDark ul li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Noto Sans JP", sans-serif;
}